/* -------------- FONT ------------- */

@font-face {
    font-family: 'abeatbykairegular';
    src: url('../font/abeakrg-webfont.woff2') format('woff2'),
         url('../font/abeakrg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* ----- MAIN ---- */

body {
	
	margin: 0 auto;
	background-color:#e2e2e2;
	height:auto;
	width:100%;	
	
}

html {
	height: 100%;
}



* {
	font-family: 'abeatbykairegular';
	color: #000000;
	text-align: center;
}

main {
	overflow: auto;
}

h1 {
	color:ff850c;
	font-size:2em;
}

h2 {
	color:#01ce0f;
	font-size:1em;
}




/* -----  HEADER ----- */

header {
	text-align: center;
	position: fixed;
    top: 0;
    width: 100%;
	
}

footer {
	margin-top:10%;
	clear:both;
}

header img {
	float:left;
	padding-left:5px;
}

nav {
	margin-top:25px;
 	background:transparent;
    padding: 0.5em;
    text-align:center;
	float:left;
	
}

.wrap-header {
	width:100%; 
	height:6em;
	background-color:#252525;
	border-bottom: 2px solid #ff850c;
	position:fixed;
}

.greeting{
	margin-top:10px;
	font-size:.8em;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #252525;
}

nav li, #account li {
    float: left;
}
header {
	text-align: center;
	position: fixed;
    top: 0;
    width: 100%;
	
}

header img {
	float:left;
	padding-left:5px;
}

nav {
	margin-top:25px;
 	background:transparent;
    padding: 0.5em;
    text-align:center;
	float:left;
	
}

.wrap-header {
	width:100%; 
	height:6em;
	background-color:#252525;
	border-bottom: 2px solid #ff850c;
	position:fixed;
}

.greeting{
	margin-top:10px;
	font-size:.8em;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #252525;
}

nav li, #account li {
    float: left;
}

li a {
    /*display: block;*/
    color:#ff850c;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
#account {
	margin-top:25px;
	float:right;
	padding:0.5em;
}


#account ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	float:right;
}




/* ---- HEADER SEARCH BAR ---- */



#contactform {

margin-top:150px;
border-style:solid;
border-width:1px;
}
nav {
	margin-top:25px;
 	background:transparent;
    padding: 0.5em;
    text-align:center;
	float:left;
	
}

.wrap-header {
	width:100%; 
	height:6em;
	background-color:#252525;
	border-bottom: 2px solid #ff850c;
	position:fixed;
	margin-top:-150px;
	margin-left:-10px;
	
}
.clearboth {
clear:both;
}
.greeting{
	margin-top:10px;
	font-size:.8em;
	
}
#greeting {
  color:#000000;
}
#history {
color:#000000 Important;
margin-top:150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #252525;
}

nav li, #account li {
    float: left;
}
a {
color:#00FF00;
}

li a {
    /*display: block;*/
    color:#ff850c;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

table {
margin-top:50px;
}


#account {
	margin-top:25px;
	float:right;
	padding:0.5em;
}


#account ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	float:right;
}


/* ---- HEADER SEARCH BAR ---- */


#searchbar {
	margin-top:-10px;
	float:right;
	width:30%;	
}