/* CSS Document */

body {
	
	margin: 0 auto;
}


header {
	text-align: center;
	position: fixed;
    top: 0;
    width: 100%;
	
}

header img {
	float:left;
}

* {
	font-family: "Arial Black", Gadget, sans-serif;
	color: #e2e2e2;
	text-align: center;
}

main {
	overflow: auto;
}


nav, section, aside, footer, #feature {
	display:block;
}

nav, footer {
 	background-color: #252525;
    padding: 0.5em;
    text-align:center;
	
}

section {
    width: 31.3%;
    float: left;
    margin:1%;
    text-align: center;
}

#feature {
	margin-top:10em;
    height: 20em;
    margin-bottom: 1em;
    background-color:#252525;
    text-align: center;
	margin-right:1%;
	margin-left:1%;
}

article {
	height: 17em;
    margin-bottom: 1em;
    background-color: #252525;
    text-align: center;
}

article {
	margin-right:0%;
}


.wrap-header{
	width:100%; 
	height:6em;
	background-color:#252525;
	border-bottom: 2px solid #ff850c;
	position:fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #252525;
}

li {
    float: left;
}

li a {
    display: block;
    color:#ff850c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav, #feature, footer {
	background-color:#252525;
	padding:0.5em;
	text-align:center;
	
}


/*aside {
	margin-bottom:1em;
	background-color:#efefef;
	text-align:center;
	float:right;
}*/


a {
	color:#ff850c;
	text-decoration:none;
}

a:visited {
	color:#ff850c;
	text-decoration:none;
}

a:hover { 
	color:#01ce0f;
	text-decoration:underline;
}

a:active {
	color:#01ce0f;
	text-decoration:none;
}